html{
    height: 100%;
    width: 100%;
}

body {
    background-image: url("/assets/images/horizon-3929969_960_720.jpg");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto;
}